In [1]:
import pandas as pd
import os
import csv
import numpy
import json
import requests

## Clean csv

In [2]:
df_1 = pd.read_csv("sm_master_moviedata.csv")

In [3]:
df_1.keys()

Index(['imdb_id', 'title', 'original_title', 'overview'], dtype='object')

In [ ]:
df_1=df_1[['imdb_id','title','original_title','overview']]

In [37]:
df_1.head()

,imdb_id,title,original_title,overview
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,"Orson Welles' unfinished masterpiece, restored..."
1,tt1502397,Bad Boys for Life,Bad Boys for Life,The continuing adventures of Miami detectives ...
2,tt3906082,Mary Shelley,Mary Shelley,The love affair between poet Percy Shelley and...
3,tt5613402,Mobile Homes,Mobile Homes,"In forgotten towns along the American border, ..."
4,tt3038708,Iron Sky: The Coming Race,Iron Sky: The Coming Race,"Twenty years after the events of Iron Sky, the..."

In [ ]:
df_1.dropna(inplace=True)
df_1.drop_duplicates(keep='first', inplace=True)

In [29]:
df_1.count()

imdb_id           1994
title             1994
original_title    1994
overview          1994
dtype: int64

In [46]:
dftop1000 = df_1.iloc[900:1899]
dftop1000.count()

imdb_id           999
title             999
original_title    999
overview          999
dtype: int64

In [47]:
dftop1000.head()

,imdb_id,title,original_title,overview
900,tt5213534,Supersonic,Supersonic,From award-winning director Mat Whitecross and...
901,tt6098922,Louis Theroux: Savile,Louis Theroux: Savile,Sixteen years after his documentary When Louis...
902,tt4682708,We Are the Flesh,Tenemos la carne,After wandering a ruined city for years in sea...
903,tt5979690,The Crooked Man,The Crooked Man,"While at a slumber party, twelve-year-old Oliv..."
904,tt6295304,Sebastian Maniscalco: Why Would You Do That?,Sebastian Maniscalco: Why Would You Do That?,Comedian Sebastian Maniscalco performs his thi...

In [48]:
movie_list=dftop1000["imdb_id"]
movie_list

900     tt5213534
901     tt6098922
902     tt4682708
903     tt5979690
904     tt6295304
905     tt5194226
906     tt5505722
907     tt5968910
908     tt5537614
909     tt6146460
910     tt3646592
911     tt3750238
912     tt5900208
913     tt5936692
914     tt3109072
915     tt6044910
916     tt2806390
917     tt0825283
918     tt4645330
919     tt4354616
920     tt3721936
921     tt5974460
922     tt4353996
923     tt5282006
924     tt2461150
925     tt5427450
926     tt5259496
927     tt5918090
928     tt4250566
929     tt1860357
          ...
1869    tt5491920
1870    tt2649554
1871    tt3652526
1872    tt3828058
1873    tt5487052
1874    tt2652118
1875    tt4005402
1876    tt5095770
1877    tt5358570
1878    tt5280626
1879    tt5559308
1880    tt2233170
1881    tt5437138
1882    tt2207112
1883    tt5134976
1884    tt5559726
1885    tt4820224
1886    tt3543258
1887    tt2879552
1888    tt4083572
1889    tt5013688
1890    tt4432980
1891    tt4769430
1892    tt5455878
1893    tt5340362
1894    tt4846220
1895    tt3515524
1896    tt5432188
1897    tt5070130
1898    tt5140182
Name: imdb_id, Length: 999, dtype: object

In [ ]:
df_1.to_csv("sm_master_moviedata.csv")

## API OMDB

In [49]:
# from api_key import api_key
api_key = '6a57315d'
# http://www.omdbapi.com/?apikey=e6bf2ec&i=tt7158814

In [50]:
base_url = "http://www.omdbapi.com/?apikey="+api_key+"&i="

In [ ]:
test=[movie_list[0],movie_list[1]]
test_url=base_url+test[0]

In [ ]:
test_re=requests.get(test_url).json()
test_re.keys()

In [ ]:
test_re["imdbID"]
# test_re["Writer"]
# test_re["Actors"]
# test_re["Poster"]
# test_re["Ratings"]
# test_re["BoxOffice"]
# test_re["Production"]

In [ ]:
print(movie_list)

In [51]:
scrape_data=[]

In [52]:
# List of movie ID data
movie_list

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters
record_count = 1

# Loop through all the movies in our list
for movie in movie_list:
        
    # Create endpoint URL with each movie
    movie_url = base_url + str(movie)
    
    # Add 1 to the record count
    record_count += 1
    
#     Run an API request for each of the movies
#     try:
    # Parse the JSON and retrieve data
    movie_result = requests.get(movie_url).json()

    # Parse out the necessary information
    if movie_result["Poster"] == 'N/A':
        pass
    else:
        movie_imdbid=movie_result["imdbID"]
    #         movie_director=movie_result["Director"]
    #         movie_writer=movie_result["Writer"]
    #         movie_actors=movie_result["Actors"]
        movie_posterL=movie_result["Poster"]
    #         movie_ratings=movie_result["Ratings"]
    #         movie_box=movie_result["BoxOffice"]
    #         movie_production=movie_result["Production"]

            # Append the movie information into scrape_data list
    #         scrape_data.append({"imdb_id": movie_imdbid,
    #                             "director": movie_director,
    #                           "writer": movie_writer, 
    #                           "actors": movie_actors, 
    #                           "poster_link": movie_posterL,
    #                           "ratings": movie_ratings,
    #                           "boxoffice": movie_box,
    #                           "production_company": movie_production})
        scrape_data.append({"imdb_id": movie_imdbid,
                            "poster_link": movie_posterL,
                          })


    # If an error is experienced, skip the city
#     except:
#         print("Movie not found. Skipping...")
#         pass
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
-----------------------------
Data Retrieval Complete
-----------------------------

In [14]:
len(scrape_data)

73

In [27]:
scrape_data[1]

{'imdb_id': 'tt3906082',
 'poster_link': 'https://m.media-amazon.com/images/M/MV5BNzUyM2EzOTEtOTMwMi00NzMwLWEyYTAtZGYxYzMyZDgyNGUyXkEyXkFqcGdeQXVyODY3Nzc0OTk@._V1_SX300.jpg'}

In [53]:
scrape_df=pd.DataFrame(scrape_data)

In [54]:
scrape_df.head()

     imdb_id                                        poster_link
0  tt5213534  https://m.media-amazon.com/images/M/MV5BOTMzMD...
1  tt6098922  https://images-na.ssl-images-amazon.com/images...
2  tt4682708  https://m.media-amazon.com/images/M/MV5BMTkzOT...
3  tt5979690  https://m.media-amazon.com/images/M/MV5BMmM0OG...
4  tt6295304  https://m.media-amazon.com/images/M/MV5BMDY2ND...

In [58]:
scrape_df.count()

imdb_id        991
poster_link    991
dtype: int64

In [60]:
# scrape_df.to_csv("poster_scraped_data.csv")
#Use this code to add to csv file
scrape_df.to_csv('poster_scraped_data.csv', mode='a', index = None, header=False)

In [64]:
df_1 = pd.read_csv("sm_master_moviedata.csv")
df_2 = pd.read_csv("poster_scraped_data.csv")

In [66]:
df_2.head()

     imdb_id                                        poster_link
0  tt0069049  https://m.media-amazon.com/images/M/MV5BNDg5NT...
1  tt3906082  https://m.media-amazon.com/images/M/MV5BNzUyM2...
2  tt5613402  https://m.media-amazon.com/images/M/MV5BMTc3OT...
3  tt3038708  https://m.media-amazon.com/images/M/MV5BYzFmZD...
4  tt3498786  http://ia.media-imdb.com/images/M/MV5BNmEwNjJm...

In [67]:
df_outer = pd.merge(df_1, df_2, on='imdb_id', how='inner')

In [69]:
df_outer.count()

imdb_id           1886
title             1886
original_title    1886
overview          1886
poster_link       1886
dtype: int64

In [70]:
#Use this code for the first time to create the csv file
df_outer.to_csv('final_moviedata.csv', index = None, header=True)

# Creating db

In [ ]:
# Dependencies and boilerplate
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [ ]:
# Create movie_metadata and scraped_data classes
# ----------------------------------
class Movie_Metadata(Base):
    __tablename__ = 'movie_metadata'
    id = Column(Integer, primary_key=True)
    imdb_id = Column(String(255))
    title = Column(String(255))
    release_date = Column(String(255))
    spoken_languages = Column(String(255))
    genres = Column(String(255))
    runtime = Column(String(255))
    production_companies = Column(String(255))
    production_countries = Column(String(255))
    budget = Column(String(255))
    revenue = Column(String(255))
    overview = Column(String(255))
    tagline = Column(String(255))
    vote_average = Column(String(255))
    vote_count = Column(String(255))
    homepage = Column(String(255))
    popularity = Column(String(255))

In [ ]:
class Scraped_Data(Base):
    __tablename__ = 'scraped_data'
    id = Column(Integer, primary_key=True)
    imdb_id = Column(String(255))
    director = Column(String(255))
    writer = Column(String(255))
    actors = Column(String(255))
    poster_link = Column(String(255))
    ratings = Column(String(255))
    boxoffice = Column(String(255))
    production_company = Column(String(255))

In [ ]:
df_1.dtypes

In [ ]:
df_1.columns

In [ ]:
# Use a Session to test the class
### BEGIN SOLUTION
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("sqlite:///../db/movies_db.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)

### END SOLUTION

# conn = engine.connect()
# Base.metadata.create_all(conn) 
for index, item in df_1.iterrows():
    movie = Scraped_Data(imdb_id=item['imdb_id'], title=item['title'],
            release_date = item['release_date'],
            spoken_languages = item['spoken_languages'],
            genres = item['genres'],
            runtime = item['runtime'],
            production_companies = item['production_companies'],
            production_countries = item['production_countries'],
            budget = item['budget'],
            revenue = item['revenue'],
            overview = item['overview'],
            tagline = item['tagline'],
            vote_average = item['vote_average'],
            vote_count = item['vote_count'],
            homepage = item['homepage'],
            popularity = item['popularity'])
    session.add(movie)
    session.commit()

In [ ]:
#Make sure all the columns are declared in the class Base
scrape_df.columns
# scrape_df.dtypes

In [ ]:
#Make sure all the columns are declared in the class Base
scrape_df.dtypes

In [ ]:
# movie_metadata = Movie_Metadata(df_1)
# scraped_data = Scraped_Data(scrape_df)
# df_1.to_sql('movie_metadata', con=engine, if_exists='append', index=False)
for index, item in scrape_df.iterrows():
    movie = Movie_Metadata(imdb_id=item['imdb_id'], director=item['director'],
            writer = item['writer'],
            actors = item['actors'],
            poster_link = item['poster_link'],
            ratings = item['ratings'],
            boxoffice = item['boxoffice'],
            production_company = item['production_company'])
    session.add(movie)
    session.commit()

In [ ]:
scrape_df.dtypes


# anagramsdf['ID']= anagramsdf['ID'].astype('str')
# anagramsdf['anagram_list']= anagramsdf['anagram_list'].astype('str')

In [ ]:
# Somehow it will not insert into sqlite unless we change dtypes to string
scrape_df = scrape_df.astype(str)
scrape_df.dtypes

In [ ]:
# scrape_df
scrape_df.to_sql('scraped_data', con=engine, if_exists='append', index=False)

In [ ]:
# View the data in sqlite
engine.execute('select * from movie_metadata').fetchall()

In [ ]:
# View the data in sqlite
engine.execute('select * from scraped_data').fetchall()

In [ ]:
# Add and commit the two new scripts
### BEGIN SOLUTION
# session.add_all(movie_metadata)
# session.add_all(scraped_data)
# session.commit()
### END SOLUTION